examples/03 - Send recieved msg_firebaseMessaging.json
[
    {
        "id": "248236bc6f9c252f",
        "type": "FCM Send",
        "z": "58c7ea9a3b72dd62",
        "name": "",
        "firebaseConfig": "6ed5c97949f1c82a",
        "destinationMode": "topic",
        "destination": "a",
        "destinationType": "str",
        "notificationTitle": "",
        "notificationTitleType": "str",
        "notificationBody": "",
        "notificationBodyType": "str",
        "notificationImage": "",
        "notificationImageType": "str",
        "data": "{}",
        "dataType": "jsonata",
        "x": 760,
        "y": 360,
        "wires": [
            [
                "8502b78e5a601398"
            ],
            [
                "3aae9e8a0791582f"
            ]
        ]
    },
    {
        "id": "aabfbb75a805a583",
        "type": "inject",
        "z": "58c7ea9a3b72dd62",
        "name": "Send Notificaiton",
        "props": [
            {
                "p": "firebaseMessage",
                "v": "{\"token\":\"a token\",\"notification\":{\"title\":\"a title\",\"body\":\"a body\"},\"data\":{\"a\":\"b\"}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "248236bc6f9c252f"
            ]
        ]
    },
    {
        "id": "8502b78e5a601398",
        "type": "debug",
        "z": "58c7ea9a3b72dd62",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "3aae9e8a0791582f",
        "type": "debug",
        "z": "58c7ea9a3b72dd62",
        "name": "msg.error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "6ed5c97949f1c82a",
        "type": "FCM Config",
        "name": "Configuration",
        "keyPath": "E:\\Development\\Custom Nodes\\node-red-contrib-firebase-notification\\keys\\clave.json",
        "keyPathType": "str",
        "proxy": "",
        "proxyType": "str"
    }
]