examples/message_by_topic.json
[
    {
        "id": "248236bc6f9c252f",
        "type": "FCM Send",
        "z": "58c7ea9a3b72dd62",
        "name": "",
        "firebaseConfig": "6ed5c97949f1c82a",
        "messageMode": "topic",
        "destination": "topic",
        "destinationType": "msg",
        "title": "title",
        "titleType": "msg",
        "body": "body",
        "bodyType": "msg",
        "x": 860,
        "y": 440,
        "wires": [
            [
                "8502b78e5a601398"
            ],
            [
                "3aae9e8a0791582f"
            ]
        ]
    },
    {
        "id": "aabfbb75a805a583",
        "type": "inject",
        "z": "58c7ea9a3b72dd62",
        "name": "Send Notificaiton",
        "props": [
            {
                "p": "title",
                "v": "a title",
                "vt": "str"
            },
            {
                "p": "body",
                "v": "a body",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "topic",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "248236bc6f9c252f"
            ]
        ]
    },
    {
        "id": "8502b78e5a601398",
        "type": "debug",
        "z": "58c7ea9a3b72dd62",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 420,
        "wires": []
    },
    {
        "id": "3aae9e8a0791582f",
        "type": "debug",
        "z": "58c7ea9a3b72dd62",
        "name": "msg.error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ed5c97949f1c82a",
        "type": "FCM Config",
        "name": "Configuration",
        "keyPath": "/keypath/key.json",
        "keyPathType": "str",
        "proxy": "",
        "proxyType": "str"
    }
]